<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>

<script src="app.js"></script>
<style>
h1 {
font-style:italic;
color: rgba(153, 109, 223, 0.466);
font-style: normal;
font-size:xx-large;
}
p {
color: blue;
}
input{
    background-color: darkgoldenrod;
}
</style>
<title>Angular JS</title>

<head><h1><center>Angular JS Basics</center></h1></head>

<body ng-app="myapp"  style="background-color:burlywood"
ng-init="x=false">

    <h2>Topics</h2>
</br>
<label>1) Creating Our Own Repository</label></br></br>
<label>2) Github Pages</label></br></br>
<label>3)Browser-Sync</label>
<input type="button" value="Show Commands" ng-click="x=true">
<input type="button" value="Hide Commands" ng-show="x" ng-click="x=false"></br>
<p ng-show="x">To install Browser-Sync : npm install -g browser-sync</p>
<p ng-show="x">To Start Browser-Sync as Server : browser-sync start --server --directory --files "**/*"</p></br>
<label>4)How to Push our Code</label></br></br>
<label>5)Why Angular JS ??</label>
<input type="button" value="Click Here" ng-click="y=true">
<ul ng-show="y">
    <li>It provides simplified logics of Javascript</li>
    <li>Supports Directives</li>
    <li>Supports Services</li>
</ul>

    <div ng-controller="FirstController">
    </div>

</body>

</html>